
.vs/ProjectSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.config
.vs/website/FileContentIndex/15598bdd-d1a6-4df5-8f48-2eb9404e150c.vsidx
.vs/website/FileContentIndex/23b34188-a29a-4f8f-8f52-b5c16cb4754a.vsidx
.vs/website/FileContentIndex/26708084-bfe8-43c6-9965-84e469d795bb.vsidx
.vs/website/FileContentIndex/8ad28633-9ffc-46b4-837f-c909c248df22.vsidx
.vs/website/FileContentIndex/read.lock
.vs/website/v17/.suo
.vscode/settings.json
