body {
	background-color: lightgray;
	margin: 0;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	padding: 1px;
	background-image: linear-gradient(to right, red, blue);
}

	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

#backgroundtext {
	color: black;
	text-align: center;
}

.test{
	text-align: center;
	background-color: teal;
}


.content {
	max-width: 500px;
	margin: auto;
	padding: 1px;
}
@media only screen and (max-width: 420px) {
.topnav {
	padding: 0%;

}
.topnav a {
	padding: 12px 12px;
}

}
